
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/jadwalkuliah.css' %}" rel='stylesheet' />

    <title>STEM Kuliah</title>
  </head>
  <body>
    <div class="container-fluid">
      <br><br>
      <h1 style="text-align:center">Jadwal Perkuliahan Prasmul</h1>
      <form action="#" method="POST">

                  <div class="input-group">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownJurusanButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:44px;width:250px">
                        Jurusan
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownJurusanButton">
                        <a class="dropdown-item" href="#">Software Engineering</a>
                        <a class="dropdown-item" href="#">Business Mathematics</a>
                        <a class="dropdown-item" href="#">Renewable Energy Engineering</a>
                        <a class="dropdown-item" href="#">dan seterusnya</a>
                    </div> &nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownJurusanButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:44px;width:250px">
                        Ruangan
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownJurusanButton">
                        <a class="dropdown-item" href="#">3011</a>
                        <a class="dropdown-item" href="#">3012</a>
                        <a class="dropdown-item" href="#">3013</a>
                        <a class="dropdown-item" href="#">dan seterusnya</a>
                    </div> &nbsp;&nbsp;&nbsp;
                    </div>
                      <input type="text" name="key4" class="form-control input-search" placeholder="Keyword..." >
                  &nbsp;&nbsp;&nbsp;&nbsp;
                      <button class="btn btn-primary" type="submit"><i class="fa fa-search" style="height:44px;width:200px"></i>CARI</button>
                    <span class="input-group-btn">
                  </span>
                  </div><br>

                  <div class="nav-scroller py-1 mb-2">
                    <nav class="nav d-flex justify-content-between">
                      <button type="button" class="btn btn-secondary" style="height:44px;width:200px">Senin</button>
                      <button type="button" class="btn btn-secondary" style="height:44px;width:200px">Selasa</button>
                      <button type="button" class="btn btn-secondary" style="height:44px;width:200px">Rabu</button>
                      <button type="button" class="btn btn-secondary" style="height:44px;width:200px">Kamis</button>
                      <button type="button" class="btn btn-secondary" style="height:44px;width:200px">Jumat</button>
                    </nav>
                  </div>



              </div>
          </div>
      </form>
      <br><br>
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Senin, 6 Januari 2020</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>08.00-09.40</td>
      <td>MYG</td>
      <td>MBSU1101</td>
      <td>Software Project Management</td>
      <td>BM 2019A/CSE 2019A</td>
      <td>Classroom 3025</td>
    </tr>
    <tr>
      <td>08.00-09.40</td>
      <td>MYG</td>
      <td>MBSU1101</td>
      <td>Software Project Management</td>
      <td>BM 2019A/CSE 2019A</td>
      <td>Classroom 3025</td>
    </tr>
    <tr>
      <td>08.00-09.40</td>
      <td>MYG</td>
      <td>MBSU1101</td>
      <td>Software Project Management</td>
      <td>BM 2019A/CSE 2019A</td>
      <td>Classroom 3025</td>
    </tr>
  </tbody>
</table>
<table class="table table-hover">
<thead>
  <tr>
    <th>Senin, 13 Januari 2020</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>08.00-09.40</td>
    <td>MYG</td>
    <td>MBSU1101</td>
    <td>Software Project Management</td>
    <td>BM 2019A/CSE 2019A</td>
    <td>Classroom 3025</td>
  </tr>
  <tr>
    <td>08.00-09.40</td>
    <td>MYG</td>
    <td>MBSU1101</td>
    <td>Software Project Management</td>
    <td>BM 2019A/CSE 2019A</td>
    <td>Classroom 3025</td>
  </tr>
  <tr>
    <td>08.00-09.40</td>
    <td>MYG</td>
    <td>MBSU1101</td>
    <td>Software Project Management</td>
    <td>BM 2019A/CSE 2019A</td>
    <td>Classroom 3025</td>
  </tr>
</tbody>
</table>

<br><br>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
      });
    </script>
  </body>
</html>
